.wrapper {
  width: 100%;
  height: 100vh;
}

.container {
  width: 650px;
  margin: 0 auto;
  padding: 0 20px;
}

section.cost-accounting {
  margin-bottom: 30px;
}
section.cost-accounting .container .cost-accounting-inner .cost-accounting__title {
  margin-top: 90px;
}
section.cost-accounting .container .cost-accounting-inner .cost-accounting__title h2 {
  font-size: 28px;
  font-weight: 600;
}

section.input-costs {
  margin-bottom: 50px;
}
section.input-costs .container .input-costs-inner {
  display: flex;
  gap: 10px;
}
section.input-costs .container .input-costs-inner .input-costs__input {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
section.input-costs .container .input-costs-inner .input-costs__input input {
  padding-left: 25px;
  position: relative;
  height: 45px;
  width: 400px;
  font-size: 20px;
}
section.input-costs .container .input-costs-inner .input-costs__input input::-moz-placeholder {
  position: absolute;
  right: 25px;
}
section.input-costs .container .input-costs-inner .input-costs__input input::placeholder {
  position: absolute;
  right: 25px;
}
section.input-costs .container .input-costs-inner .input-costs__input input:focus, section.input-costs .container .input-costs-inner .input-costs__input :active {
  outline: none;
}
section.input-costs .container .input-costs-inner .input-costs__input .input-error-text {
  margin-bottom: 10px;
}
section.input-costs .container .input-costs-inner .input-costs__input .input-error-text p {
  position: absolute;
  color: red;
}
section.input-costs .container .input-costs-inner .input-costs__input .hidden-text {
  display: none;
}
section.input-costs .container .input-costs-inner .input-costs__input select.input-categories {
  padding-left: 25px;
  position: relative;
  height: 45px;
  width: 400px;
  font-size: 20px;
}
section.input-costs .container .input-costs-inner .add-costs-btn .add-btn {
  height: 45px;
  max-width: 200px;
}
section.input-costs .container .input-costs-inner .add-costs-btn .add-btn button {
  height: 100%;
  width: 100%;
  max-width: 200px;
  padding: 0 50px;
  text-align: center;
  font-size: 18px;
  border: none;
  color: #fff;
  background-color: #0094FF;
}

section.output-section .container .output-section-inner {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
section.output-section .container .output-section-inner .output__left-side {
  width: 50%;
}
section.output-section .container .output-section-inner .output__left-side .costs-limit {
  margin-bottom: 15px;
}
section.output-section .container .output-section-inner .output__left-side .costs-limit .costs-limit__title h2 {
  font-size: 22px;
  font-weight: 600;
}
section.output-section .container .output-section-inner .output__left-side .costs-limit .costs-limit__title h2 span.costs-limit {
  font-weight: 400;
}
section.output-section .container .output-section-inner .output__left-side .costs-limit .costs-limit-group {
  position: relative;
  display: flex;
  align-items: center;
}
section.output-section .container .output-section-inner .output__left-side .costs-limit .popup-limit {
  margin-left: 5px;
}
section.output-section .container .output-section-inner .output__left-side .costs-limit .popup-limit button {
  position: relative;
  background-color: transparent;
  border: none;
}
section.output-section .container .output-section-inner .output__left-side .costs-limit .popup-limit button img {
  width: 100%;
}
section.output-section .container .output-section-inner .output__left-side .costs-all {
  margin-bottom: 15px;
}
section.output-section .container .output-section-inner .output__left-side .costs-all .costs-all__title h2 {
  font-size: 22px;
  font-weight: 600;
}
section.output-section .container .output-section-inner .output__left-side .costs-all .costs-all__title h2 span.costs-all__counter {
  font-weight: 400;
}
section.output-section .container .output-section-inner .output__left-side .costs__status {
  margin-bottom: 30px;
}
section.output-section .container .output-section-inner .output__left-side .costs__status h2 {
  font-size: 22px;
  font-weight: 600;
}
section.output-section .container .output-section-inner .output__left-side .costs__status h2 .cost-status-good {
  color: green;
}
section.output-section .container .output-section-inner .output__left-side .costs__status h2 .cost-status-bed {
  color: red;
}
section.output-section .container .output-section-inner .output__left-side .clear-btn-section-inner .clear-expenses__btn {
  width: 100%;
}
section.output-section .container .output-section-inner .output__left-side .clear-btn-section-inner .clear-expenses__btn button {
  width: 100%;
  padding: 10px 10px;
  border: none;
  font-size: 18px;
  color: #fff;
  background-color: #FF0000;
}
section.output-section .container .output-section-inner .output__right-side {
  width: 50%;
}
section.output-section .container .output-section-inner .output__right-side .costs-history .costs-history__title {
  margin-bottom: 20px;
}
section.output-section .container .output-section-inner .output__right-side .costs-history .costs-history__title h2 {
  font-size: 22px;
  font-weight: 600;
}
section.output-section .container .output-section-inner .output__right-side .costs-history .costs-history__items {
  position: relative;
}
section.output-section .container .output-section-inner .output__right-side .costs-history .costs-history__items ol {
  position: absolute;
  left: 18px;
}
section.output-section .container .output-section-inner .output__right-side .costs-history .costs-history__items ol li {
  font-size: 20px;
  list-style: decimal;
}

@keyframes display-popup {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.body_fixed {
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  animation: display-popup 0.5s forwards;
}
.popup .popup__container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 980px;
  max-height: 100%;
  border-radius: 10px;
  background-color: #fff;
}
.popup .popup__container .popup-inner {
  width: 100%;
  height: 520px;
  margin: 0 auto;
}
.popup .popup__container .popup-inner .popup__title {
  margin: 80px 0 150px 80px;
}
.popup .popup__container .popup-inner .popup__title h2 {
  font-size: 30px;
  font-weight: 600;
  color: #000;
}
.popup .popup__container .popup-inner .popup__main-content {
  display: flex;
  gap: 10px;
  justify-content: space-around;
}
.popup .popup__container .popup-inner .popup__main-content .popup__input {
  margin-bottom: 10px;
  padding: 0 20px;
  height: 45px;
}
.popup .popup__container .popup-inner .popup__main-content .popup__input input {
  padding-left: 25px;
  position: relative;
  height: 100%;
  width: 400px;
  font-size: 18px;
  border: 1px solid #000;
}
.popup .popup__container .popup-inner .popup__main-content .popup__input input::-moz-placeholder {
  position: absolute;
  right: 25px;
}
.popup .popup__container .popup-inner .popup__main-content .popup__input input::placeholder {
  position: absolute;
  right: 25px;
}
.popup .popup__container .popup-inner .popup__main-content .popup__input input:focus, .popup .popup__container .popup-inner .popup__main-content .popup__input :active {
  outline: none;
}
.popup .popup__container .popup-inner .popup__main-content .popup__input .popup__input-error-text p {
  position: absolute;
  color: red;
}
.popup .popup__container .popup-inner .popup__main-content .popup__input .hidden-text {
  display: none;
}
.popup .popup__container .popup-inner .popup__main-content .popup__add-limit_btn {
  padding: 0 20px;
  width: 100%;
}
.popup .popup__container .popup-inner .popup__main-content .popup__add-limit_btn button {
  padding: 12px;
  width: 100%;
  border: none;
  font-size: 18px;
  color: #fff;
  background-color: #0094FF;
}
.popup .popup__container .popup-inner .popup__close-btn {
  position: absolute;
  top: 25px;
  right: 25px;
}
.popup .popup__container .popup-inner .popup__close-btn button {
  border: none;
  background-color: transparent;
}
.popup .popup__container .popup-inner .popup__close-btn button img {
  width: 100%;
}/*# sourceMappingURL=main.css.map */