.wrapper {
    width: 100%;
    height: 100vh;
}
.container {
    width: 650px;
    margin: 0 auto;
    padding: 0 20px;
}

section.cost-accounting {
    margin-bottom: 30px;
    .container {
        .cost-accounting-inner {
            .cost-accounting__title {
                margin-top: 90px;
                h2 {
                    font-size: 28px;
                    font-weight: 600;
                }
            }
        }
    }
}
section.input-costs {
    margin-bottom: 50px;
    .container {
        .input-costs-inner {
            display: flex;
            gap: 10px;
            .input-costs__input {
                display: flex;
                flex-direction: column;
                gap: 10px;
                input {
                    padding-left: 25px;
                    position: relative;
                    height: 45px;
                    width: 400px;
                    font-size: 20px;
                }
                input::placeholder {
                    position: absolute;
                    right: 25px;
                }
                input:focus,:active {
                    outline: none;
                }

                .input-error-text { // Текст, если пользователь ничего не введет в поле ввода
                    margin-bottom: 10px;
                    p {
                        position: absolute;
                        color: red;
                    }
                }
                .hidden-text {
                    display: none;
                }

                select.input-categories {
                    padding-left: 25px;
                    position: relative;
                    height: 45px;
                    width: 400px;
                    font-size: 20px;
                    option {}
                }
            }
            .add-costs-btn {
                .add-btn {
                    height: 45px;
                    max-width: 200px;
                    button {
                        height: 100%;
                        width: 100%;
                        max-width: 200px;
                        padding: 0 50px;
                        text-align: center;
                        font-size: 18px;
                        border: none;
                        color: #fff;
                        background-color: #0094FF;
                    }
                }
            }
        }
    }
}

section.output-section {
    .container {
        .output-section-inner {
            margin-bottom: 50px;
            display: flex;
            justify-content: space-between;
            gap: 50px;
            .output__left-side {
                width: 50%;
                .costs-limit {
                    margin-bottom: 15px;
                    .costs-limit__title {
                        h2 {
                            font-size: 22px;
                            font-weight: 600;
                            span.costs-limit {
                                font-weight: 400;
                            }
                        }
                    }
                    .costs-limit-group {
                        position: relative;
                        display: flex;
                        align-items: center;
                    }
                    .popup-limit {
                        margin-left: 5px;
                        button {
                            position: relative;
                            background-color: transparent;
                            border: none;
                            img {
                                width: 100%;
                            }
                        }
                    }
                }
                .costs-all {
                    margin-bottom: 15px;
                    .costs-all__title {
                        h2 {
                            font-size: 22px;
                            font-weight: 600;
                            span.costs-all__counter {
                                font-weight: 400;
                            }
                        }
                    }
                }
                .costs__status {
                    margin-bottom: 30px;
                    h2 {
                        font-size: 22px;
                        font-weight: 600;
                        span.cost-status {

                        }
                        .cost-status-good { // если лимит не превышен
                            color: green;
                        }
                        .cost-status-bed { // если лимит превышен
                            color: red;
                        }
                    }
                }
                .clear-btn-section-inner {
                    .clear-expenses__btn {
                        width: 100%;
                        button {
                            width: 100%;
                            padding: 10px 10px;
                            border: none;
                            font-size: 18px;
                            color: #fff;
                            background-color: #FF0000;
                        }
                    }
                }
            }
            .output__right-side {
                width: 50%;
                .costs-history {
                    .costs-history__title {
                        margin-bottom: 20px;
                        h2 {
                            font-size: 22px;
                            font-weight: 600;
                        }
                    }
                    .costs-history__items {
                        position: relative;
                        ol {
                            position: absolute;
                            left: 18px;
                            li {
                                font-size: 20px;
                                list-style: decimal;
                            }
                        }
                    }
                }
            }
        }
    }
}


@keyframes display-popup {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.body_fixed {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    animation: display-popup 0.5s forwards;
    .popup__container {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 980px;
        max-height: 100%;
        border-radius: 10px;
        background-color: #fff;
        .popup-inner {
            width: 100%;
            height: 520px;
            margin: 0 auto;
            .popup__title {
                margin: 80px 0 150px 80px;
                h2 {
                    font-size: 30px;
                    font-weight: 600;
                    color: #000;
                }
            }
            .popup__main-content {
                display: flex;
                gap: 10px;
                justify-content: space-around;

                .popup__input {
                    margin-bottom: 10px;
                    padding: 0 20px;
                    height: 45px;
                    input {
                        padding-left: 25px;
                        position: relative;
                        height: 100%;
                        width: 400px;
                        font-size: 18px;
                        border: 1px solid #000;
                    }
                    input::placeholder {
                        position: absolute;
                        right: 25px;
                    }
                    input:focus,:active {
                        outline: none;
                    }

                    .popup__input-error-text {
                        p {
                            position: absolute;
                            color: red;
                        }
                    }
                    .hidden-text {
                        display: none;
                    }
                }
                .popup__add-limit_btn {
                    padding: 0 20px;
                    width: 100%;
                    button {
                        padding: 12px;
                        width: 100%;
                        border: none;
                        font-size: 18px;
                        color: #fff;
                        background-color: #0094FF;
                    }
                }
            }
            .popup__close-btn {
                position: absolute;
                top: 25px;
                right: 25px;
                button {
                    border: none;
                    background-color: transparent;
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}