@media (max-width: 700px) {
  .container {
    width: 100%;
    padding: 0 30px;
  }
  section.cost-accounting {
    margin-bottom: 30px;
  }
  section.cost-accounting .container .cost-accounting-inner {
    display: flex;
    justify-content: center;
  }
  section.cost-accounting .container .cost-accounting-inner .cost-accounting__title {
    margin-top: 80px;
  }
  section.cost-accounting .container .cost-accounting-inner .cost-accounting__title h2 {
    font-size: 28px;
  }
  section.input-costs {
    margin-bottom: 50px;
  }
  section.input-costs .container .input-costs-inner {
    display: flex;
    justify-content: center;
  }
  section.input-costs .container .input-costs-inner .input-costs__input input {
    min-width: 100%;
    font-size: 18px;
  }
  section.input-costs .container .input-costs-inner .input-costs__input input::-moz-placeholder {
    position: absolute;
    right: 25px;
    font-size: 18px;
  }
  section.input-costs .container .input-costs-inner .input-costs__input input::placeholder {
    position: absolute;
    right: 25px;
    font-size: 18px;
  }
  section.input-costs .container .input-costs-inner .input-costs__input input:focus, section.input-costs .container .input-costs-inner .input-costs__input :active {
    outline: none;
  }
  section.input-costs .container .input-costs-inner .input-costs__input .input-error-text p {
    position: absolute;
    color: red;
    font-size: 18px;
  }
  section.input-costs .container .input-costs-inner .input-costs__input .hidden-text {
    display: none;
  }
  section.input-costs .container .input-costs-inner .add-costs-btn .add-btn {
    height: 45px;
    min-width: 100%;
  }
  section.input-costs .container .input-costs-inner .add-costs-btn .add-btn button {
    width: 100%;
  }
  section.output-section .container .output-section-inner {
    display: flex;
    gap: 150px;
  }
  section.output-section .container .output-section-inner .output__left-side .costs-limit {
    margin-bottom: 15px;
  }
  section.output-section .container .output-section-inner .output__left-side .costs-limit .costs-limit__title h2 {
    font-size: 22px;
    font-weight: 600;
  }
  section.output-section .container .output-section-inner .output__left-side .costs-limit .costs-limit__title h2 span.costs-limit {
    font-weight: 400;
  }
  section.output-section .container .output-section-inner .output__left-side .costs-all .costs-all__title h2 {
    font-size: 22px;
    font-weight: 600;
  }
  section.output-section .container .output-section-inner .output__left-side .costs-all .costs-all__title h2 span.costs-all__counter {
    font-weight: 400;
  }
  section.output-section .container .output-section-inner .output__left-side .costs__status h2 {
    font-size: 22px;
    font-weight: 600;
  }
  section.output-section .container .output-section-inner .output__left-side .costs__status h2 .cost-status-good {
    color: green;
  }
  section.output-section .container .output-section-inner .output__left-side .costs__status h2 .cost-status-bed {
    color: red;
  }
  section.output-section .container .output-section-inner .output__right-side .costs-history .costs-history__title {
    margin-bottom: 20px;
  }
  section.output-section .container .output-section-inner .output__right-side .costs-history .costs-history__title h2 {
    font-size: 22px;
    font-weight: 600;
  }
  section.output-section .container .output-section-inner .output__right-side .costs-history .costs-history__items {
    position: relative;
  }
  section.output-section .container .output-section-inner .output__right-side .costs-history .costs-history__items ol {
    position: absolute;
    left: 18px;
  }
  section.output-section .container .output-section-inner .output__right-side .costs-history .costs-history__items ol li {
    font-size: 20px;
    list-style: decimal;
  }
}
@media (max-width: 650px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
  section.cost-accounting {
    margin-bottom: 30px;
  }
  section.cost-accounting .container .cost-accounting-inner {
    display: flex;
    justify-content: center;
  }
  section.cost-accounting .container .cost-accounting-inner .cost-accounting__title {
    margin-top: 60px;
  }
  section.cost-accounting .container .cost-accounting-inner .cost-accounting__title h2 {
    font-size: 26px;
  }
  section.input-costs {
    margin-bottom: 50px;
  }
  section.input-costs .container .input-costs-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  section.input-costs .container .input-costs-inner .input-costs__input input {
    min-width: 100%;
    font-size: 18px;
  }
  section.input-costs .container .input-costs-inner .input-costs__input input::-moz-placeholder {
    position: absolute;
    right: 25px;
    font-size: 18px;
  }
  section.input-costs .container .input-costs-inner .input-costs__input input::placeholder {
    position: absolute;
    right: 25px;
    font-size: 18px;
  }
  section.input-costs .container .input-costs-inner .input-costs__input input:focus, section.input-costs .container .input-costs-inner .input-costs__input :active {
    outline: none;
  }
  section.input-costs .container .input-costs-inner .input-costs__input .input-error-text p {
    position: absolute;
    color: red;
    font-size: 18px;
  }
  section.input-costs .container .input-costs-inner .input-costs__input .hidden-text {
    display: none;
    margin-bottom: 10px;
  }
  section.input-costs .container .input-costs-inner .add-costs-btn .add-btn {
    height: 45px;
    min-width: 100%;
  }
  section.input-costs .container .input-costs-inner .add-costs-btn .add-btn button {
    min-width: 100%;
    font-size: 18px;
  }
  section.output-section .container .output-section-inner {
    display: flex;
    justify-content: space-between;
  }
  section.output-section .container .output-section-inner .output__left-side .costs-limit {
    margin-bottom: 15px;
  }
  section.output-section .container .output-section-inner .output__left-side .costs-limit .costs-limit__title h2 {
    font-size: 22px;
  }
  section.output-section .container .output-section-inner .output__left-side .costs-all {
    margin-bottom: 15px;
  }
  section.output-section .container .output-section-inner .output__left-side .costs-all .costs-all__title h2 {
    font-size: 22px;
  }
  section.output-section .container .output-section-inner .output__left-side .costs__status h2 {
    font-size: 22px;
    font-weight: 600;
  }
  section.output-section .container .output-section-inner .output__left-side .costs__status h2 .cost-status-good {
    color: green;
  }
  section.output-section .container .output-section-inner .output__left-side .costs__status h2 .cost-status-bed {
    color: red;
  }
  section.output-section .container .output-section-inner .output__right-side .costs-history .costs-history__title {
    margin-bottom: 20px;
  }
  section.output-section .container .output-section-inner .output__right-side .costs-history .costs-history__title h2 {
    font-size: 22px;
    font-weight: 600;
  }
  section.output-section .container .output-section-inner .output__right-side .costs-history .costs-history__items {
    position: relative;
  }
  section.output-section .container .output-section-inner .output__right-side .costs-history .costs-history__items ol {
    position: absolute;
    left: 18px;
  }
  section.output-section .container .output-section-inner .output__right-side .costs-history .costs-history__items ol li {
    font-size: 20px;
    list-style: decimal;
  }
}
@media (max-width: 540px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }
  section.cost-accounting {
    margin-bottom: 30px;
  }
  section.cost-accounting .container .cost-accounting-inner {
    display: flex;
    justify-content: center;
  }
  section.cost-accounting .container .cost-accounting-inner .cost-accounting__title {
    margin-top: 60px;
  }
  section.cost-accounting .container .cost-accounting-inner .cost-accounting__title h2 {
    font-size: 26px;
  }
  section.input-costs {
    margin-bottom: 50px;
  }
  section.input-costs .container .input-costs-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  section.input-costs .container .input-costs-inner .input-costs__input input {
    min-width: 100%;
    font-size: 18px;
  }
  section.input-costs .container .input-costs-inner .input-costs__input input::-moz-placeholder {
    position: absolute;
    right: 25px;
    font-size: 18px;
  }
  section.input-costs .container .input-costs-inner .input-costs__input input::placeholder {
    position: absolute;
    right: 25px;
    font-size: 18px;
  }
  section.input-costs .container .input-costs-inner .input-costs__input input:focus, section.input-costs .container .input-costs-inner .input-costs__input :active {
    outline: none;
  }
  section.input-costs .container .input-costs-inner .input-costs__input .input-error-text p {
    position: absolute;
    color: red;
    font-size: 18px;
  }
  section.input-costs .container .input-costs-inner .input-costs__input .hidden-text {
    display: none;
  }
  section.input-costs .container .input-costs-inner .add-costs-btn .add-btn {
    height: 45px;
    min-width: 100%;
  }
  section.input-costs .container .input-costs-inner .add-costs-btn .add-btn button {
    min-width: 100%;
    font-size: 18px;
  }
  section.output-section .container .output-section-inner {
    display: flex;
    justify-content: space-between;
  }
  section.output-section .container .output-section-inner .output__left-side .costs-limit {
    margin-bottom: 15px;
  }
  section.output-section .container .output-section-inner .output__left-side .costs-limit .costs-limit__title h2 {
    font-size: 20px;
  }
  section.output-section .container .output-section-inner .output__left-side .costs-limit .costs-limit__title h2 span.costs-limit {
    font-size: 20px;
  }
  section.output-section .container .output-section-inner .output__left-side .costs-all .costs-all__title h2 {
    font-size: 20px;
  }
  section.output-section .container .output-section-inner .output__left-side .costs-all .costs-all__title h2 span.costs-all__counter {
    font-size: 20px;
  }
  section.output-section .container .output-section-inner .output__left-side .costs__status h2 {
    font-size: 20px;
  }
  section.output-section .container .output-section-inner .output__left-side .costs__status h2 span.cost-status {
    font-size: 20px;
  }
  section.output-section .container .output-section-inner .output__left-side .costs__status h2 .cost-status-good {
    color: green;
  }
  section.output-section .container .output-section-inner .output__left-side .costs__status h2 .cost-status-bed {
    color: red;
  }
  section.output-section .container .output-section-inner .output__right-side .costs-history {
    margin-right: 25px;
  }
  section.output-section .container .output-section-inner .output__right-side .costs-history .costs-history__title h2 {
    font-size: 20px;
  }
  section.output-section .container .output-section-inner .output__right-side .costs-history .costs-history__items {
    position: relative;
  }
  section.output-section .container .output-section-inner .output__right-side .costs-history .costs-history__items ol {
    position: absolute;
    left: 18px;
  }
  section.output-section .container .output-section-inner .output__right-side .costs-history .costs-history__items ol li {
    font-size: 18px;
  }
}
@media (max-width: 480px) {
  .container {
    width: 100%;
    padding: 0 10px;
  }
  section.cost-accounting {
    margin-bottom: 30px;
  }
  section.cost-accounting .container .cost-accounting-inner {
    display: flex;
    justify-content: center;
  }
  section.cost-accounting .container .cost-accounting-inner .cost-accounting__title {
    margin-top: 60px;
  }
  section.cost-accounting .container .cost-accounting-inner .cost-accounting__title h2 {
    font-size: 26px;
  }
  section.input-costs {
    margin-bottom: 50px;
  }
  section.input-costs .container .input-costs-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  section.input-costs .container .input-costs-inner .input-costs__input input {
    max-width: 100%;
    font-size: 18px;
  }
  section.input-costs .container .input-costs-inner .input-costs__input input::-moz-placeholder {
    position: absolute;
    right: 25px;
    font-size: 18px;
  }
  section.input-costs .container .input-costs-inner .input-costs__input input::placeholder {
    position: absolute;
    right: 25px;
    font-size: 18px;
  }
  section.input-costs .container .input-costs-inner .input-costs__input input:focus, section.input-costs .container .input-costs-inner .input-costs__input :active {
    outline: none;
  }
  section.input-costs .container .input-costs-inner .input-costs__input .input-error-text p {
    position: absolute;
    color: red;
    font-size: 18px;
  }
  section.input-costs .container .input-costs-inner .input-costs__input .hidden-text {
    display: none;
  }
  section.input-costs .container .input-costs-inner .add-costs-btn .add-btn {
    height: 45px;
    min-width: 100%;
  }
  section.input-costs .container .input-costs-inner .add-costs-btn .add-btn button {
    min-width: 100%;
    font-size: 18px;
  }
  section.output-section .container .output-section-inner {
    display: block;
  }
  section.output-section .container .output-section-inner .output__left-side {
    margin-bottom: 35px;
    width: 100%;
  }
  section.output-section .container .output-section-inner .output__left-side .costs-limit {
    margin-bottom: 15px;
  }
  section.output-section .container .output-section-inner .output__left-side .costs-limit .costs-limit__title h2 {
    font-size: 20px;
  }
  section.output-section .container .output-section-inner .output__left-side .costs-limit .costs-limit__title h2 span.costs-limit {
    font-size: 20px;
  }
  section.output-section .container .output-section-inner .output__left-side .costs-all .costs-all__title h2 {
    font-size: 20px;
  }
  section.output-section .container .output-section-inner .output__left-side .costs-all .costs-all__title h2 span.costs-all__counter {
    font-size: 20px;
  }
  section.output-section .container .output-section-inner .output__left-side .costs__status h2 {
    font-size: 20px;
  }
  section.output-section .container .output-section-inner .output__left-side .costs__status h2 span.cost-status {
    font-size: 20px;
  }
  section.output-section .container .output-section-inner .output__left-side .costs__status h2 .cost-status-good {
    color: green;
  }
  section.output-section .container .output-section-inner .output__left-side .costs__status h2 .cost-status-bed {
    color: red;
  }
  section.output-section .container .output-section-inner .output__right-side {
    width: 100%;
  }
  section.output-section .container .output-section-inner .output__right-side .costs-history {
    margin-right: 25px;
  }
  section.output-section .container .output-section-inner .output__right-side .costs-history .costs-history__title h2 {
    text-align: center;
    font-size: 20px;
  }
  section.output-section .container .output-section-inner .output__right-side .costs-history .costs-history__items {
    position: relative;
  }
  section.output-section .container .output-section-inner .output__right-side .costs-history .costs-history__items ol {
    position: absolute;
    left: 18px;
  }
  section.output-section .container .output-section-inner .output__right-side .costs-history .costs-history__items ol li {
    font-size: 18px;
  }
}/*# sourceMappingURL=media.css.map */